<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user_page.css" type="text/css">
    <title>User Page</title>
</head>
<body>
  <div class="bg">
    <div class="text-container">
      <div class="user-data-container">
        <h1>User Data</h1>
        <table class="user-data">
          <tr>
            <td>ID</td>
            <td>:</td>
            <td><%= data.id %></td>
          </tr>
          <tr>
            <td>Username</td>
            <td>:</td>
            <td><%= data.username %></td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>:</td>
            <td><%= data.createdAt %></td>
          </tr>
          <tr>
            <td>Updated At</td>
            <td>:</td>
            <td><%= data.updatedAt %></td>
          </tr>
          <tr>
            <td>Full Name</td>
            <td>:</td>
            <td><%= biodata ? biodata.fullName : '' %></td>
          </tr>
          <tr>
            <td>City</td>
            <td>:</td>
            <td><%= biodata ? biodata.city : '' %></td>
          </tr>
          <tr>
            <td>Birthday</td>
            <td>:</td>
            <td><%= biodata ? biodata.birthday : '' %></td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>:</td>
            <td><%= biodata ? biodata.gender : '' %></td>
          </tr>
        </table>
      </div>
      <hr>
      <div class="history-data-container">
        <h2>Your Game History</h2>
        <table class="history-data">
          <tr>
            <td>Time</td>
            <td>:</td>
            <td><%= history ? history.time : '' %></td>
          </tr>
          <tr>
            <td>Score</td>
            <td>:</td>
            <td><%= history ? history.score : '' %></td>
          </tr>
        </table>
        <div class="utilities">
          <a href="/bio-edit/<%=data.id%>">Edit your Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>